@charset "UTF-8";

.subtitle {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #3f4449;
	margin: 5px 0px 30px 0px;
}


.book-status-available {
	padding: 1px 5px 1px 5px;
	border-radius: 2px;
	background-color: rgba(25,216,83,0.5);
}

.book-status-reserved {
	padding: 1px 5px 1px 5px;
	border-radius: 2px;
	background-color: rgba(247,201,30,0.5);
}

.book-status-borrowed {
	padding: 1px 5px 1px 5px;
	border-radius: 2px;
	background-color: rgba(245,66,48,0.5);
}

.modal-header {
	color: #FFE6E6;
	font: Arial;
	background: #556270;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
}